<!DOCTYPE html>
<HTML>
<HEAD>
	<META charset="utf-8">
	<TITLE>Han Min Naing</TITLE>
	<META name="author" content="Han M Naing">
	<LINK rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<LINK rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</HEAD>
<BODY>
	<!-- Start PRESENTATION --> 
	<article class="container">
	<section>
		<h1 class="text-center"> {{ name }} </h1>
		<p class="text-center fp"> 
			<i class="fa fa-phone"></i> <a href="tel:+1{{ phone }}">{{ phone }}</a> &nbsp; &#9679; &nbsp;
			<i class="fa fa-envelope-o"></i> <a href="mailto:{{ email }}">{{ email }}</a> &nbsp; &#9679; &nbsp; 
			<i class="fa fa-home"></i> <a href="{{ web }}">{{ web }}</a> &nbsp; &#9679; &nbsp;
			<i class="fa fa-github"></i> <a href="{{ github }}">{{ github }}</a> &nbsp; &#9679; &nbsp;
			<i class="fa fa-linkedin"></i> <a href="{{ linkedin }}">{{ linkedin }}</a>
		</p>
		<p><i><b>Objective:</b> <i class="tab"></i> {{ objective }}</i></p>

	</section>

	<section>
		<h2>Education</h2>
{% for edu in education %}<p>
	<b>{{ edu.name }}</b><br>
	<i><i class="tab"></i>{{ edu.degree }}, {{ edu.major }} {% if edu.gpa %}, GPA: {{ edu.gpa }} {% endif %}</i></p>
{% endfor %}
	</section>

	<section>
<h2>Skills & Certifications</h2>
<p>{% for certify in certificates %} 
	<b>{{ certify.name }}</b> — <i>{{ certify.description }} </i> <br>
{% endfor %}</p>
<p>{%- if skills %}
	<i><b>Skills:</b> {{ skills|join(', ') }} </i>
{% endif %}</p>
<p>{%- if languages %}
	<i><b>Languages:</b> {{ languages|join(', ') }} </i>
{% endif %}</p>
	</section>

	<section>
<h2>Projects</h2>
{% for project in projects %}<p>
	<b>{{ project.name }}</b> <i class="text-right">{{ project.from }}-{{ project.to }}</i><br>
	<p><i class="tab"></i>{{ project.description }} </p>
</p>{% endfor %}
	</section>

	<section>
<h2>Experience</h2>
{% for e in experience %} 
	<p>
	<b>{{ e.title }} at {{ e.company }}</b> ({{ e.from }} - {{ e.to }})
	<ul>{%- for line in e.description %} 
		<li> {{ line }} </li>
	{%- endfor %}</ul> 
	</p>
{% endfor %}
	</section>
</article>

	<!-- End PRESENTATION --> 
	<style>
		#p, #ul { margin: 0; padding: 0; }
		#li { padding-left: 30px; }
		.tab { padding-left: 30px; display: inline-block;}
		body { text-align: center; }
		article { width: 80%; margin: 0 auto; text-align: left; padding: 25px;}
		h1 { font-size: 48px; font-family: Georgia, Century, "Times New Roman", Serif; }
		h2 { font-size: 28px; font-family: Georgia, Century, "Times New Roman", Serif; }
		h2 { border-left: 60px solid #090; padding-left: 30px;}
		.fp { font-size: 16px; }
	</style>
</BODY>
</HTML>