<!DOCTYPE html>
<HTML>
<HEAD>
	<META charset="utf-8">
	<TITLE>Han Min Naing</TITLE>
	<META name="author" content="Han M Naing">
</HEAD>
<BODY>
	<!-- Start PRESENTATION --> 
	<article class="paper letter">
		<div class="container">
	<header>
		<div class="">
			<h1 class=""> {{name}} </h1>
				<div class="text-right">
			<a href="tel:+1415-525-2805" class="fpp">{{phone}}</a> 
			&nbsp; &#9679; &nbsp;<a href="mailto:hmnaing@ucsd.edu" class="fpp">{{email}}</a> 
			 <br>
			 <a href="{{ web }}">{{ web }}</a>
			&nbsp; &#9679; &nbsp;<a href="{{ github }}">{{ github }}</a>
			&nbsp; &#9679; &nbsp;<a href="{{ linkedin }}">{{ linkedin }}</a> <br>

			 
		</div>
	</header>

	<section>
		<h2>Objective</h2>
		<p><i class="tab"></i>{{objective}}</p>

	</section>

	<section>
		<h2>Education</h2>
{% for edu in education %}<p>
	<b>{{ edu.name }}</b><br>
	<i><i class="tab"></i>{{ edu.degree }}, {{ edu.major }} {% if edu.gpa %}, GPA: {{ edu.gpa }} {% endif %}</i></p>
{% endfor %}
	</section>  

	<section>
<h2>Skills & Certifications</h2>
<p>{% for certify in certificates %} 
	<b>{{ certify.name }}</b> — <i>{{ certify.description }} </i> <br>
{% endfor %}</p>
<p>{%- if skills %}
	<i><b>Skills:</b> {{ skills|join(', ') }} </i>
{% endif %}</p>
<p>{%- if languages %}
	<i><b>Languages:</b> {{ languages|join(', ') }} </i>
{% endif %}</p>
	</section>

	<section>
<h2>Projects</h2>
{% for project in projects %}<p>
	<b>{{ project.name }}</b> <i class="text-right">{{ project.from }}-{{ project.to }}</i><br>
	<blockquote>{{ project.description }} </blockquote>
</p>{% endfor %}
	</section>

	<section>
<h2>Experience</h2>
{% for e in experience %} 
	<p>
	<b>{{ e.title }} at {{ e.company }}</b> ({{ e.from }} - {{ e.to }})
	<ul>{%- for line in e.description %} 
		<li> {{ line }} </li>
	{%- endfor %}</ul> 
	</p>
{% endfor %}
	</section>

		</div>
</article>

	<!-- End PRESENTATION --> 
	<style media="all">
		body { margin: 0 auto; padding: 0; 
			//font-family:Arial, Helvetica, sans-serif; 
			font-size: 10pt;
			background-color: #eee;
			font-family: Georgia, Century, "Times New Roman", Serif; 
		}
		.tab { padding-left: 30pt; display: inline-block;}
		article { margin: 0 auto; text-align: left; }
		h1 { font-size: 36pt; line-height: 36pt; margin: 0px auto; }
		h2 { font-size: 16pt; }
		h2 { border-bottom: 1pt solid #000; }
		.h1, h2 { font-variant: small-caps; }
		h1 { font-family: Century; }

		.paper { 
			color: #333; background-color: #fff; }
		.letter { width: 8.5in; height: 11in; }
		.container { padding: 0.5in; }

		.center { text-align: center; }
		.text-right { text-align: right; }
		.text-left { text-align: left; }
		.fpp { font-size: 16pt; }

		#row {}
		#left { float: left; }
		#right { float: right; }
		#clear { clear: both; }

		.contact { font-size: 16pt; }
		section p, section h2, section blockquote, section ul { margin: 5pt auto; }
		section blockquote { margin-left: 25pt; }

		a { text-decoration: none; color: #111; }


	</style>

	<style type="text/css" media="print">
		body, .paper {
			background-color:#FFF;
			border-width:0 0 0 0;
			margin:0;
			width:100%
			}
	</style>

</BODY>
</HTML>